.App {
  width: min(calc(100% - var(--sr)), 980px);
  margin-block-start: 20%;
  flex-direction: column;
  align-items: center;
  gap: var(--xxl);
}

main {
  justify-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--s) 0;
}

header h1 {
  font-family: var(--font-righteous);
}
