/******** Variabls ********/
:root {
  /*__Colors__*/
  --color-primary: hsl(121, 31%, 44%);
  --color-primary-light: hsl(108, 35%, 60%);
  --color-primary-lighter: hsl(96, 55%, 74%);
  --color-primary-lightest: hsl(68, 59%, 85%);

  --color-grey: hsl(125, 5%, 52%);
  --color-grey-light: hsl(135, 15%, 89%);

  /*__Fonts__*/
  --font-poppins: "Poppins", sans-serif;
  --font-righteous: "Righteous", cursive;

  /*__Spacing__*/
  --xxs: 0.125rem;
  --xs: 0.25rem;
  --sr: 0.5rem;
  --s: 0.75rem;
  --md: 1rem;
  --l: 1.5rem;
  --xl: 2rem;
  --xxl: 2.5rem;
}

/******** Resets ********/
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Righteous";
  src: local("Righteous"), url(./fonts/Righteous-Regular.ttf) format("truetype");
}

body {
  background-color: var(--color-primary-lightest);
  min-height: 100vh;
  font-family: var(--font-poppins);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

input,
button,
select {
  font: inherit;
  outline: none;
}

button {
  background-color: unset;
  border-style: solid;
}

select {
  border: none;
}

textarea {
  resize: vertical;
}

/******** Utility classes ********/
.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.margin-center {
  margin-inline: auto;
}

.color-white {
  color: white;
}

.bold {
  font-weight: bold;
}

.circle {
  border-radius: 50%;
}
