.new-todo {
  background-color: white;
  border-radius: var(--sr);
  padding: inherit;
  gap: var(--s);
}

.new-todo select {
  background-color: var(--color-primary-lightest);
}

.new-todo button {
  color: var(--color-primary);
  border-color: var(--color-primary);
  transition: background-color 200ms ease;
  align-self: flex-end;
  padding-inline: var(--l);
  cursor: pointer;
}

.new-todo button:hover {
  background-color: var(--color-primary-lighter);
}
