.todo-item {
  background-color: white;
  border-radius: inherit;
}

.user-info {
  justify-content: space-between;
  align-items: center;
  /* padding-block: var(--sr); */
}

.user-info img {
  height: 40px;
  aspect-ratio: 1;
  object-fit: cover;
}

.divider {
  height: 2px;
  background-color: var(--color-grey-light);
}

.todo-item > *:not(.divider) {
  padding: var(--sr) var(--md);
}
