.Todo-list {
  background-color: var(--color-primary-lighter);
  border-radius: var(--sr);
  padding: var(--sr) var(--md);
  gap: var(--md);
  width: calc(100% - var(--md));
  /* width: min(calc(100% - var(--md)), 300px); */
}

.heading {
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--sr);
}

.count {
  background: var(--color-grey);
  justify-content: center;
  align-items: center;
  height: 24px;
  aspect-ratio: 1;
}
