.custom-input {
  position: relative;
}

.custom-input > * {
  transition: all 200ms ease;
  display: block;
}

.custom-input input,
.custom-input textarea {
  border: none;
  border-block-end: 2px solid var(--color-grey-light);
  padding-block: var(--md) var(--xxs);
  outline: none;
  width: 100%;
}

.custom-input label {
  position: absolute;
  left: 0;
  top: 50%;
  width: calc(100% - var(--md));
  background-color: white;
  transform: translateY(-50%);
  cursor: text;
}

.custom-input textarea {
  min-height: var(--xxl);
  max-height: 100px;
}

.custom-input.active label {
  font-size: var(--s);
  transform: translateY(0);
  top: 0;
  color: var(--color-primary-light);
}

.custom-input.active input,
.custom-input.active textarea {
  border-block-end-color: var(--color-primary-light);
}
